.menu-container {
    display: flex;
    align-items: center;
}
.script {
    color: rgb(156, 153, 153);
    font-size: 12px;
}
.price-container {
    margin-left: 10px;
}
.price {
    font-size: 20px;
}
.grid-container-padding {
    background-color: #ffffff;
    margin-bottom: 25px;
    padding:  0px 15px 15px 0px;
    border-radius: 3px;
}
.grid-item-container {
    background-color: rgb(239, 239, 239);
    padding: 10px;
    margin-right: 5px !important;
}
.margin-left-20 {
    margin-left: 19px !important;
}
.iShares {
    height: 40px;
    margin-left: 10px;
}
.iShares img {
    height: 100%;
}
.flex-align {
    display: flex;
    align-items: center;
}
.quantity-icon {
    height: 20px;
    width: 20px;
}
.icon-name {
    font-size: 12px;
    margin-left: 5px;
    color: grey;
}
.icon-value {
    font-size: 12px;
    text-align: left;
}
.market-value-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
}
.portfolio-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
    margin-top: 8px;
}
.portfolio-name {
   color: grey;
}
.progress-container {
    margin-top: 10px;
}
.percentage-bar-container {
    margin-top: 10px;
}
.percentage-bar {
    width: 100%;
    height: 10px;
    background-color: #ccc;
    position: relative;
    border-radius: 10px;
  }
  
  .positive {
    background-color: #52b963;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
   
  }
  
  .negative {
    background-color: #d32f2f;
    height: 100%;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
   
  }
  .arrow-alignment {
    display: flex;
    align-items: center;
  }
  .sell-buy-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  