.chart-container {
    background-color: #FFFFFF;
    height: 89%;
}
.portfolio-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    font-size: 18px;
}